{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Register{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
      <div class="g-recaptcha" data-sitekey="{{ captcha_sitekey }}"></div>
    </div>
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
