{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Error{% endblock %}

{% block content %}
  <h2 class="mt-5">Let’s agree to disagree, this page does not exist.</h2>
  <br>
  <img class="ml-1" src="https://248.no/img/cat.gif"  alt="Very funny cat"/>
  
  <p><br>Go back to safe ground by clicking here: <a href="{% url 'home' %}">Home</a></p>
{% endblock %}
